/Backend/__pycache__
/Backend/model/__pycache__
/Backend/order/__pycache__
/Backend/payment/__pycache__
/Backend/product/__pycache__
/Backend/profile/__pycache__
/Backend/review/__pycache__
/Backend/user/__pycache__
/Backend/wishlist/__pycache__
/Backend/venv/
/Backend/db_config.py
/Backend/comments.txt
/Backend/secret_key.py
/Backend/kill.sh
/Backend/start.sh


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
