/__pycache__
/model/__pycache__
/order/__pycache__
/payment/__pycache__
/product/__pycache__
/profile/__pycache__
/review/__pycache__
/user/__pycache__
/wishlist/__pycache__
/venv
db_config.py
comments.txt
secret_key.py
kill.sh
start.sh