/Backend/__pycache__
/Backend/model/__pycache__
/Backend/order/__pycache__
/Backend/payment/__pycache__
/Backend/product/__pycache__
/Backend/profile/__pycache__
/Backend/review/__pycache__
/Backend/user/__pycache__
/Backend/wishlist/__pycache__
/Backend/order/secret_key.py
/Backend/payment/secret_key.py
/Backend/product/secret_key.py
/Backend/profile/secret_key.py
/Backend/review/secret_key.py
/Backend/user/secret_key.py
/Backend/wishlist/secret_key.py
/Backend/order/db_config.py
/Backend/payment/db_config.py
/Backend/product/db_config.py
/Backend/profile/db_config.py
/Backend/review/db_config.py
/Backend/user/db_config.py
/Backend/wishlist/db_config.py
/Backend/venv/
/Backend/db_config.py
/Backend/comments.txt
/Backend/secret_key.py
/Backend/kill.sh
/Backend/start.sh


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/venv