.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px; /* Increased padding to make the navbar thicker */
  background-color: var(--primary-color); /* Use primary color */
  color: var(--accent-color); /* Use accent color */
  z-index: 1000;
}

.navbar__left,
.navbar__right {
  display: flex;
  align-items: center;
}
 

.navbar__button {
  margin-left: 20px;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: none; /* Remove underline */
}

.navbar__button:hover {
  background-color: var(--dark-secondary-color); /* Use dark orange on hover */
}

.navbar__logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none; /* Remove underline */
  color: var(--accent-color); /* Use accent color */
}

.navbar__logo:hover {
  color: rgba(255, 255, 255, 0.8); /* Adjust alpha value for less opacity */
}
